<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">     
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Genres</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card-header">
Liste des Genres
</div>
<div class="card-body">
<table class="table table-striped">
<tr>
<th>ID</th><th>Nom Genre</th><th>Description</th>
</tr>
<tr th:each="g:${genres.content}">
<td th:text="${g.idGenre}"></td>
<td th:text="${g.nomGenre}"></td>
<td th:text="${g.descriptionGenre}"></td>
<td><a class="btn btn-success"
th:href="@{modifierGenre(id=${g.idGenre})}">Editer</a></td>
<td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerGenre(id=${g.idGenre},
page=${currentPage},size=${size})}">Supprimer</a></td>
</tr>
</table>
<ul class="nav nav-pills">
<li th:each="page,status:${pages}">
<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
th:href="@{ ListeGenres(page=${status.index}, size=${size} ) }"
th:text="${status.index }"></a>
</li>
</ul>
</div>
</div>
</div>
</body>
</html>